.bg-hero {
    position: relative;
}

.bg-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("GreenBackground.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.card img {
    object-fit: cover;
    aspect-ratio: 2/1;
}

.Font-large {
    font-size: 200%;
}

.Font-largest {
    font-size: 300%;
}

@font-face {
    font-family: Anta;
    src: url(Anta-Regular.ttf);
}

@font-face {
    font-family: Expletus-Sans;
    src: url(ExpletusSans-Regular.ttf);
}

a,
p {
    font-family: Expletus-Sans;
}

h1,
h2,
div {
    font-family: Anta;
}

.borderwidth {
    border: 3px black solid;
}


.tooltip-inner {
    width: 200%;
    font-family: expletus-sans;
}